.contactUs_main{
    background: rgb(228, 228, 220);
}
.contact_us {
    background: rgb(228, 228, 220);
}
.contact_send {
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
.contact_send:hover{
    opacity: 0.6;
    transition: all 0.9 ease-in;
}
.go_up img{
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-left: 100%;
    margin-bottom: 20px;
    position: relative;
}